.root {
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
.description {
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  p {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
