.root {
  min-height: inherit;
  width: 100%;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
