@import "../../scss/variables";

.header {
  background-color: $main-background;
  padding: 15px;
  border-bottom: 2px solid $border-color;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    img {
      max-width: 50px;
      margin-right: 20px;
    }
    h2 {
      font-size: 40px;
      line-height: 1.1;
      background: -webkit-linear-gradient(75deg, $accent-color, $border-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
